<main class="content">
    <div class="container-fluid p-0">
        <div class="row mb-2 mb-xl-3">
            <div class="col-auto d-none d-sm-block">
                <h3><strong>Gestão</strong> Restaurante</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8 col-xxl-12 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Pedidos Pendentes</h5>
                    </div>
                    <table class="table table-striped my-0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th class="d-none d-xl-table-cell">Nome Item</th>
                                <th class="d-none d-xl-table-cell">Mesa</th>
                                <th class="d-none d-md-table-cell">Valor</th>
                                <th>Situação</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pedido of pedidos">
                                <td>{{ pedido.id }}</td>
                                <td class="d-none d-xl-table-cell">{{ pedido.nomeItem | titlecase }}</td>
                                <td class="d-none d-xl-table-cell">{{ pedido.numeroMesa }}</td>
                                <td class="d-none d-md-table-cell">{{ pedido.valor }}</td>
                                <td>
                                    <span class="badge bg-primary" *ngIf="pedido.situacao === 'NOVO'">{{ pedido.situacao }}</span>
                                    <span class="badge bg-warning" *ngIf="pedido.situacao === 'FECHADO'">{{ pedido.situacao }}</span>
                                    <span class="badge bg-success" *ngIf="pedido.situacao === 'CONCLUIDO'">{{ pedido.situacao }}</span>
                                    <span class="badge bg-danger" *ngIf="pedido.situacao === 'CANCELADO'">{{ pedido.situacao }}</span>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-info btn-sm" (click)="cancelar(pedido)"> Cancelar</button>
                                        <button class="btn btn-info btn-sm" (click)="finalizar(pedido)"> Finalizar</button>
                                        <button class="btn btn-info btn-sm" (click)="alterarPedido(pedido.id)"> Alterar</button>
                                      </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>