<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Peido Detalhado</h1>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body m-sm-3 m-md-5">

                        <hr class="my-4" />

                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Nome do Item</th>
                                    <th>Mesa</th>
                                    <th class="text-right">Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>AdminKit Demo Theme Customization</td>
                                    <td>2</td>
                                    <td class="text-right">$150.00</td>
                                </tr>
                                <tr>
                                    <td>Monthly Subscription </td>
                                    <td>3</td>
                                    <td class="text-right">$25.00</td>
                                </tr>
                                <tr>
                                    <td>Additional Service</td>
                                    <td>1</td>
                                    <td class="text-right">$100.00</td>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Total </th>
                                    <th class="text-right">$268.85</th>
                                </tr>
                            </tbody>
                        </table>

                        <div class="text-center">
                            <a href="#" class="btn btn-primary">
                                Alterar Pedido
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>