<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" (click)="mudarRota('')">
            <span class="align-middle">Restaurante Alegria</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Menu
            </li>

            <!-- <li class="sidebar-item active"> -->
            <li class="sidebar-item">
                <a class="sidebar-link" (click)="mudarRota('/listar')">
                    <i class="align-middle" data-feather="list"></i> <span class="align-middle">Todos Pedidos</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" (click)="mudarRota('/incluir')">
                    <i class="align-middle" data-feather="plus"></i> <span class="align-middle">Incluir Pedido</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" (click)="mudarRota('/pendentes')">
                    <i class="align-middle" data-feather="book-open"></i> <span class="align-middle">Pedidos Pendentes</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" (click)="mudarRota('/fechar-conta')">
                    <i class="align-middle" data-feather="lock"></i> <span class="align-middle">Fechar Conta</span>
                </a>
            </li>
        </ul>
    </div>
</nav>